---

---

<nav class="navbar">
    <div class="navbar-brand">
        <p>Astro Store</p>
    </div>
    <div class="navbar-links">
        <a href="/">Home</a>
        <a href="/crud/barang">Barang</a>
        <a href="/crud/pemesanan">Pemesanan</a>
    </div>
</nav>