---
import Image from "astro/components/Image.astro"
import Icon from "../assets/icon-home.png"
---

<nav class="navbar">
    <div class="navbar-brand">
        <p>Astro Store</p>
    </div>
    <div class="navbar-links">
        <a href="/">Home</a>
        <a href="/komponen">Components</a>
        <a href="/crud/barang">CRUD</a>
    </div>
</nav>